.DS_Store

# Python / local environment
__pycache__/
*.py[cod]
.venv/

# VS Code 工作区文件
*.code-workspace

# VS Code 用户设置
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

